* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

ul, li {
  height: 100vh;
}

ul {
  column-count: 2;
  column-gap: 0;
}

.navBar {
  overflow: hidden;
  background-color: #f8f5f5;
  position: fixed;
  top: 0;
  width: 100%;
}

/* .bar-line{
  color: #333;
} */

.navBar a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.redirect {
  float: right;
}

.redirect:hover {
  border-radius: 8px;
  color: rgb(172, 167, 167);
}

input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f3f3;
  width:100%;
}

.title {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f3f3;
  width:100%;
}

.title-name {
  font-family: "copperplate", fantasy;
  float: left;
}

.title-context {
  text-align: center;
}

form {
  display: block;
  position: relative;
  filter: drop-shadow(0 0 30px #333)
}

form .form-inner {
  position: relative;
  display: block;
  background-color: white;
  padding:50px;
  z-index:2;
  border-radius: 5px;
}

form .form-inner .form-title {
  font-style:inherit;
}

.form-inner .form-group label {
  display: block;
  color: rgb(196, 194, 194);
  margin-bottom: 25px;
}

form .form-inner .form-group input {
  display:block;
  width:350px;
  color: black;
  padding: 20px 15px;
  border-width: 1px;
  border-color: #d2dae0;
  border-radius:10px 10px 10px 10px;
  border-style: solid;
  margin-bottom: 25px;
}
form .form-inner hr{
  margin-top: 30px;
}

form .form-inner .form-group input:focus{
  border-color: #48a2f7;
}

form .form-inner .error-form input{
  border-color: red;
}

form .form-inner input[type="submit"] {
  margin: 10px 0 0 0;
  padding: 7px 10px;
  border: 1px solid #efffff;
  border-radius: 8px;
  background: #48a2f7;
  width: 100%; 
  height: 60px;
  font-size: 25px;
  color: white;
  display: block;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
  background-color: #379af7;
}

::placeholder {
  color:rgb(107, 102, 102);
}

.switch-form {
  margin: 30px 0 0 0;
  padding: 7px 10px;
  border: 1px solid #efffff;
  border-radius: 8px;
  background: #f39e3d;
  margin-left: 10%;
  width: 80%; 
  align-self: center;
  height: 45px;
  font-size: 20px;
  color: white;
  display: block;
  cursor: pointer;
}

.switch-form:hover {
  background-color: #f18f1e;
}

.rights {
  text-align: center;
  font-size: x-small;
}